@import url(http://fonts.googleapis.com/css?family=Orbitron);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Michroma);

body {
	font-family: 'Raleway', sans-serif;
	background-image: url('../img/Brick_Wall.jpg');
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	font-size: 16px;
}

h1 {
	font-family: 'Michroma', sans-serif;
	font-size: 48px;
}

#game-board {
	padding-left: 0;
	padding-right: 0;
}

#title {
	padding-bottom: .5em;
}

.btn-primary {
	background-color: #4b2e83;
	color: white;
}

.btn-default {
	background-color: rgb(232,211,162);
	color: white;
}

#totalGame {
	background-color: rgba(255,255,255,0.8);
}

img {
	border: 5px solid rgba(255,255,255,0.7);
	cursor: pointer;
}

img:hover {
	border: 5px solid #4b2e83;
}

.matched {
	border-color: rgba(232,211,162,0.8);
	cursor: default;
}

#stats {
	padding-top: 10%;
}

#stats p {
	font-family: 'Orbitron', sans-serif;
	font-size: 175%;
}

@media (max-width: 992px) {
	h1 {
		font-size: 200%;
	}

	h2 {
		font-size: 14px;
	}

	#winner-modal {
		font-size: 16px;
	}

	#stats {
		padding-top: 5%;
	}
}