@import url(http://fonts.googleapis.com/css?family=Alfa+Slab+One);
@import url(http://fonts.googleapis.com/css?family=Offside);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
	/*font-family: 'Alfa Slab One', cursive; */
	font-family: 'Raleway', sans-serif;
/*	text-shadow: 2px 2px #ffffff;
	background-image: url('../img/122H.jpg');
	background-size: cover;
	background-attachment: fixed;*/
	text-align: center;
	font-size: 16px;
}

/*#game-board {
	background-color: white;
}*/

img {
	border: 5px solid #ffffff;
}

img:hover {
	border: 5px solid #4b2e83;
}

.matched {
	border-color: #b7a57a;
}

#stats {
	padding-top: 10%;
}

/*#stats h2 {
	text-decoration: underline;
	font-weight: bold;
}*/

#stats p {
	font-family: 'Calibri';
	font-size: 200%;
}

@media (max-width: 992px) {
	#stats {
		padding-top: 0%;
		padding-left: 1em;
		text-align: left;
		font-size: 50%;
	}
	h1 h2 {
		font-size: 50%;
	}
}