@import url(http://fonts.googleapis.com/css?family=Orbitron);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body {
	font-family: 'Raleway', sans-serif;
	background-image: url('../img/Brick_Wall.jpg');
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	font-size: 16px;
}

h1 {
	font-size: 300%;
	font-family: 'Orbitron', sans-serif;
}

.btn-primary {
	background-color: #4b2e83;
	color: white;
}

.btn-default {
	background-color: rgb(232,211,162);
	color: white;
}

#totalGame {
	background-color: rgba(255,255,255,0.8);
	padding-bottom: 1.3em;
}

img {
	border: 5px solid rgba(255,255,255,0.7);
	cursor: pointer;
}

img:hover {
	border: 5px solid #4b2e83;
}

.matched {
	border-color: rgba(232,211,162,0.8);
	cursor: default;
}

#stats {
	padding-top: 10%;
}

#stats p {
	font-family: 'Orbitron', sans-serif;
	font-size: 200%;
}

@media (max-width: 992px) {
	#stats {
		font-size: 50%;
	}
	h1 h2 {
		font-size: 50%;
	}
}